[Unit]
Description=Bandwidth Hero Proxy (Node)
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=3
User=root
ExecStart=/usr/bin/node --expose-gc ./build/index.js
WorkingDirectory=/opt/bandwidth-hero-proxy
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
